# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# Logs
*.log

# Temp
*.tmp
*.temp
.yarn

# Dependencies
node_modules/

# Cloudflare
.wrangler/

# Build output
.dist/
